/* sass by Eddie */
/* css3 sass by eddie */
/* css3-border-radius */
/* css3-box-shadow */
/* css3-text-shadow */
/* css3-transition */
/* css3-rotation */
/* text-selection */

.center-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 1000px;
}

.clear {
  clear: both; }

body {
  padding: 0;
  margin: 0; }

#logo-box {
  font-family: "Montserrat", sans-serif;
  width: 90px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 2.5em;
  color: black;
  font-weight: 700; }
#logo-box:hover {
  text-decoration: none; }
footer {
  font-family: "Montserrat", sans-serif;
  text-align: center; }

#left-column {
  position: fixed;
  width: 90px;
  height: 100%;
  border-right: 2px solid black; }
  #left-column .circle-skill {
    position: relative; }
    #left-column .circle-skill .checkmark, #left-column .circle-skill .cross {
      display: none;
      cursor: pointer; }

.on {
  opacity: 1; }

.off {
  opacity: 0.3; }

#github {
  width: 58px;
  position: fixed;
  left: 15px;
  bottom: 10px; }

#top-bar a {
  color: white;
  text-decoration: none; }

#container {
  width: 900px;
  margin-left: 90px; }

#top-bar-bg {
  height: 40px;
  /*background-color: black;*/
  border-left: 2px solid white; }

#top-bar {
  width: 980px;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase; }
  #top-bar .menu-item {
    height: 30px;
    float: left;
    margin-left: 40px; }
  .menu-item:hover {
    border-bottom: 1px solid #000; }
  #top-bar div a {
    color: #ccc;
  }
  #top-bar .menu-selected a {
    color: #000;
    font-weight: bold;
    /*border-bottom: 1px solid #ccc;*/ }

.portfolio-wrapper {
  width:  200px;
  height: 200px;
  line-height: 200px;
  position: relative;
  float: left;
  margin-top: 35px;
  margin-left: 70px;
  overflow: visible; }
  .portfolio-wrapper a {
    text-decoration: none; }

.portfolio-item {
  width:  210px;
  height: 210px;
  border-radius: 130px;
  border: 5px solid #cccccc;
  position: relative;
  overflow: hidden; }
  .portfolio-wrapper:hover h2 {
    top: 85px; }
  .portfolio-item h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.7em;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    color: white;
    margin: 0;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: 100px; }
  .portfolio-item .blackout {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    /* hack for chrome not doing its job with overflow:hidden; */
    border-radius: 125px; }

.portfolio-pic {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* hack for chrome not doing its job with overflow:hidden; */
  border-radius: 125px; }

.hanging-string {
  position: absolute;
  top: -40px;
  left: 92px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.container-row {
  width: 980px;
  margin: 0 auto;
  height: 305px;
  margin-bottom: 40px; }

#show-all, #hide-all {
  cursor: pointer; }

.circle-skill {
  font-family: "Montserrat", sans-serif;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 19px;
  color: white;
  font-size: 0.98em;
  margin: 0 auto;
  margin-top: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* SKILLS SECTION */
.skills .circle-skill {
  margin: 0;
  position: absolute;
  cursor: pointer;
  z-index: -1; }

.skills [class^="skills-"] {
  width: 38px;
  height: 38px;
  position: absolute; }

.skills-1, .skills .circle-skill:nth-of-type(1) {
  top: 18px;
  left: 148px; }

.skills-1-dest {
  top: -25px;
  left: 157px; }

.skills-2, .skills .circle-skill:nth-of-type(2) {
  top: 47px;
  left: 170px; }

.skills-2-dest {
  top: 6px;
  left: 194px; }

.skills-3, .skills .circle-skill:nth-of-type(3) {
  top: 85px;
  left: 180px; }

.skills-3-dest {
  top: 50px;
  left: 218px; }

.skills-4, .skills .circle-skill:nth-of-type(4) {
  top: 124px;
  left: 170px; }

.skills-4-dest {
  top: 102px;
  left: 220px; }

.skills-5, .skills .circle-skill:nth-of-type(5) {
  top: 150px;
  left: 210px; }

.skills-5-dest {
  top: 160px;
  left: 258px; }

.skills-6, .skills .circle-skill:nth-of-type(6) {
  top: 180px;
  left: 190px; }

.skills-6-dest {
  top: 206px;
  left: 233px; }

.red {
  background-color: #e74c3c; }

.yellow {
  background-color: #f1c40f; }

.orange {
  background-color: #f39c12; }

.green {
  background-color: #2ecc71; }

.blue {
  background-color: #3498db; }

.purple {
  background-color: #9b59b6; }

.midnight {
  background-color: #2c3e50; }

.grey {
  background-color: #b4b9bd; }
