/* sass by Eddie */

@import css3_mixins

$red:      #e74c3c
$yellow:   #f1c40f
$orange:   #f39c12
$green:    #2ecc71
$blue:     #3498db
$purple:   #9b59b6
$midnight: #2c3e50
$grey:     #b4b9bd

$font: 'Montserrat'

.download-icon
  border-radius: 25px
  width: 50px
  overflow: hidden
  display: block
  margin-left: 20px

.center-container
  width: 1000px
  margin: 0 auto
  margin-top: 20px

.clear
  clear: both

body
  padding: 0
  margin: 0

$logo-box-size: 105px
#logo-box
  font-family: $font, sans-serif
  $s: $logo-box-size
  width:       $s
  height:      40px
  line-height: 40px
  text-align: center
  font-size: 2.5em
  font-weight: 700
  color: black

  &:hover
    text-decoration: none

footer
  font-family: $font, sans-serif
  text-align: center

#left-column
  font-family: $font, sans-serif
  position: fixed
  width: $logo-box-size
  height: 100%
  z-index: 8
  text-align: center
  border-right: 2px solid black

  .circle-skill
    position: relative
    .checkmark, .cross
      display: none
      cursor: pointer

.on
  opacity: 1
.off
  opacity: 0.2

#github
  width: 58px
  position: fixed
  left: 15px
  bottom: 10px

#container
  width: 900px
  margin-left: $logo-box-size

#top-bar-bg
  height: 40px
  /* background-color: black */
  border-left: 2px solid white

#top-bar a
  color: white
  text-decoration: none

  &:hover
    position: relative
    top: -1px

#top-bar
  position: fixed
  top: 0
  background-color: rgba(255,255,255,0.9)
  z-index: 99
  width: 980px
  margin: 0 auto
  height: 80px
  line-height: 80px
  color: white
  font-family: $font, sans-serif
  font-size: 1.2em
  text-transform: uppercase

  div a
    color: #ccc

  .menu-item
    height: 30px
    float: left
    margin-left: 40px

  .menu-selected
    a
      color: #000
      font-weight: bold

$portfolio-item: 210px

.portfolio-wrapper
  // created cause I need stupid overflow:hidden dammit
  $s: $portfolio-item
  width:       200px
  height:      200px
  line-height: 200px
  position: relative
  float: left
  $b: 55px
  margin-top: 35px
  margin-left: 70px
  overflow: visible

  a
    text-decoration: none

.portfolio-item
  $s: $portfolio-item
  width:       $s
  height:      $s
  border-radius: $s/2
  border: 4px solid #ddd
  position: relative
  overflow: hidden

  &:hover h2
    top: 80px
  
  h2
    font-family: $font, sans-serif
    font-size: 1.7em
    text-align: center
    text-transform: uppercase
    position: relative
    z-index: 2
    color: white
    margin: 0
    @include css3-transition(all,0.3s)
    opacity: 0
    top: 85px

  .blackout
    width:  100%
    height: 100%
    background-color: rgba(0,0,0,0.6)
    position: absolute
    top: 0
    left: 0
    @include css3-transition(all,0.3s)
    opacity: 0
    /* hack for chrome not doing its job with overflow:hidden; */
    border-radius: $portfolio-item / 2 - 5

.portfolio-pic
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  z-index: -1
  /* hack for chrome not doing its job with overflow:hidden; */
  border-radius: $portfolio-item / 2 - 5

.container-row
  width: 980px
  margin: 0 auto
  height: $portfolio-item + 5
  margin-bottom: 40px

#show-all, #hide-all
  cursor: pointer

$circle-skill-size: 38px
.circle-skill
  font-family: $font, sans-serif
  $s: $circle-skill-size
  width:       $s
  height:      $s
  line-height: $s
  text-align: center
  border-radius: $s / 2
  color: white
  font-size: 0.98em
  margin: 0 auto
  margin-top: 20px
  white-space: nowrap
  @include css3-user-select
  cursor: pointer
  @include css3-transition(width,0.3s)

  &:hover
    position: relative
    top: -1px

/* SKILLS SECTION */
.skills .circle-skill
  margin: 0
  position: absolute
  z-index: -1
.skills [class^="skills-"]
  $s: $circle-skill-size
  width:  $s
  height: $s
  position: absolute
.skills-1
  top:  18px
  left: 148px
.skills-1-dest
  top:  -25px
  left: 157px
.skills .circle-skill:nth-of-type(1)
  @extend .skills-1
.skills-2
  top:  47px
  left: 170px
.skills-2-dest
  top:  6px
  left: 194px
.skills .circle-skill:nth-of-type(2)
  @extend .skills-2
.skills-3
  top:  85px
  left: 180px
.skills-3-dest
  top:  50px
  left: 218px
.skills .circle-skill:nth-of-type(3)
  @extend .skills-3
.skills-4
  top:  124px
  left: 170px
.skills-4-dest
  top:  102px
  left: 220px
.skills .circle-skill:nth-of-type(4)
  @extend .skills-4
.skills-5
  top:  150px
  left: 210px
.skills-5-dest
  top:  160px
  left: 258px
.skills .circle-skill:nth-of-type(5)
  @extend .skills-5
.skills-6
  top:  180px
  left: 190px
.skills-6-dest
  top:  206px
  left: 233px
.skills .circle-skill:nth-of-type(6)
  @extend .skills-6

.red
  background-color: $red
  border-bottom: 3px solid darken($red, 4%)
.yellow
  background-color: $yellow
  border-bottom: 3px solid darken($yellow, 4%)
.orange
  background-color: $orange
  border-bottom: 3px solid darken($orange, 4%)
.green
  background-color: $green
  border-bottom: 3px solid darken($green, 4%)
.blue
  background-color: $blue
  border-bottom: 3px solid darken($blue, 4%)
.purple
  background-color: $purple
  border-bottom: 3px solid darken($purple, 4%)
.midnight
  background-color: $midnight
  border-bottom: 3px solid darken($midnight, 4%)
.grey
  background-color: $grey
  border-bottom: 3px solid darken($grey, 4%)


